<?xml version="1.0"?>

<launch>
    
    <arg name="open_camera" default="true" />
    <arg name="visualize" default="false" />
    <arg name="rviz" default="true" />
    
    <rosparam command="load" file="$(find user_params)/params/chassis_config.yaml" />
    <rosparam command="load" file="$(find apriltag_localization)/params/apriltag_localization_ascamera.yaml" />
    <rosparam command="load" file="$(find car_localization)/params/tag_pose.yaml" />

    <group if="$(arg open_camera)"> 
        <include file="$(find ascamera)/launch/hp60c.launch" />
    </group> 
    
    <node pkg="apriltag_localization" type="apriltag_localization_node" name="apriltag_localization" output="screen">
        <param name="visualize" value="$(arg visualize)" />
    </node>
    
    <node pkg="car_localization" type="car_localization_node.py" name="car_localization" output="screen" />

    <group if="$(arg rviz)"> 
        <node type="rviz" name="rviz" pkg="rviz" 
              args="-d $(find wp_nav_pid)/rviz/wp_nav.rviz" output="log" respawn="true" />
    </group>

</launch>
