<launch>
  <!--打开rplidar-->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <!--添加底盘至雷达的TF转换-->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 40" />
  <!--开始激光扫描匹配-->
  <include file="$(find laser_scan_matcher)/launch/laser_scan_matcher.launch" />
  <!--Gmapping建图-->
  <include file="$(find gmapping)/launch/laser_scan_matcher_gmapping.launch" />
  <!--打开Rviz-->
  <node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find laser_scan_matcher)/demo/demo_gmapping.rviz"/>
</launch>
