<?xml version="1.0"?>

<launch>
    
    <include file="$(find usb_cam)/launch/usb_cam.launch"> 
        <arg name="camera_name" value="usb_cam" />
        <arg name="visualize" value="false" />
    </include>
    
    <rosparam command="load" file="$(find user_params)/params/gimbal_config.yaml" />

    <node pkg="gimbal" name="gimbal_control" type="gimbal_control_node.py" output="screen" />

    <node pkg="gimbal" name="gimbal_test" type="gimbal_test_node.py" output="screen" />

</launch>
